.file input{
    display: none;
}
.file label{
    margin-top: 15px;
    margin-left: 17%;
    margin-bottom: 15px;
    width: 15rem;
    padding: 8px 21px;
    border: 1px solid #ccc;
    border-radius: 6px !important;
    cursor: pointer;
}