#form_res_amb{
    display: block;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
#reserva{
    margin-left: 20px;
}
#codAmb{
    width: 25em;
}
#motivoSol{
    width: 25em;
}
.form-check{
    align-items: center;
}
.form-check{
    font-size: 20px;
}
.boton_form{
    margin-top: 10px;
    justify-content: center;
}
.selec_per_btn {
    padding: 1rem 2.5rem;
    font-size: 12px !important;
    text-transform: uppercase !important;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #f2f2f2;
    border: none;
    border-radius: 40px !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.202);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.selec_per_btn:hover {
    background-color: #003770;
    box-shadow: 0px 15px 20px rgba(29, 89, 255, 0.112);
    color: #fff;
    transform: translateY(-7px);
  }
   
.selec_per_btn:active {
    transform: translateY(-1px);
  }