*, *:after, *:before {
  box-sizing: border-box;
}

main{
  background-color: red;
  min-height: 100%;
}

/*CSS Para el Header*/
.header{
  background-blend-mode: multiply;
  background-color: initial;
  background-image: url(../public/assets/imagenes/fondo_header.png),linear-gradient(154deg,#003770 90%,#e30613 90%);
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.titulo{
  position: absolute;
  top: 24%;
  left: 10%;
  color: white;
  font-size: 22px;
  font-style: italic;
}
.nav{
  display: flex;
  justify-content: space-between;
  
}
.nav-link{
  color: white;
  text-decoration: none;
}
.logo{
  padding: 0 40px;
  line-height: 80px;
  height: 68px;
  width: -68px;
  margin-top: 11px;
}
.menu-nav{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.item-nav-menu{
  font-size:  18px;
  margin: 0px 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link{
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 3px;
}
.nav-menu-link:hover {
  background-color: rgb(9, 4, 78);
  transition: 0.5s;
}
.nav-toggle{
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

@media only screen and (max-width: 1170px) {
  .titulo{
      left: 12%;
  }

}

@media only screen and (max-width: 940px) {
  .titulo{
      font-size: 15px;
      left: 15%;
  }
}

@media only screen and (max-width: 814px) {

  .header{
      height: 60px;
  }
  .log{
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
  }
  .titulo{

      font-size: 12px;
      left: 40%;
  }

  .menu-nav {
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      background-color: rgb(180, 3, 3);
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(37% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: 0.3s;
      z-index: 11;

  }

  .item-nav-menu{
      line-height: 70px;
  }

  .nav-menu-link:hover {
      background: none;
      color: blueviolet;
  }

  .nav-toggle{
      display: block;
  }

  .nav-menu_visible{
      left: 0;
  }
  .logo{
      height: 45px;
      width: -45px;
      margin-top: 8px;
  }
}

/*fin header*/

body{
  min-height: 100vh;
  background-blend-mode: multiply;
  background-color: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../public/assets/imagenes/fondo_inicio.jpg);
  position:relative;
}

.inicio{
  min-height: 100vh;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../public/assets/imagenes/fondo_header.png),linear-gradient(154deg,#ffffff 90%,#ffffff 90%);
}

.descripcion{
  justify-content: center;
  font-size: 50px;
  padding-top: 11%;
  color: white;
  text-shadow: 2.5px 2.5px 2.5px black;
}
.footer{
  height: 70px;
  justify-content: center;
  font-size: 20px;
  padding-top: 1.5%;
  background-blend-mode: multiply;
  background-color: initial;
  background-image: url(../public/assets/imagenes/fondo_header.png),linear-gradient(154deg,#003770 90%,#e30613 90%);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nombre{
  font-size: 40px;
  font-weight: bold;
  color: white;
}

/*CSS Catalogo*/
.img_carac{
  display: flex;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 10px;
}

.imagen_aula{
  height: 240px;
  width: 270px;
}
.caracteristicas{
  color: black;
  font-size: 19px;
  margin-left: 20px;
  line-height: 100%;


}
.Catalogo{
  display: grid;
  padding: 0 6px;
  grid-template-columns: auto auto;
  margin-top: 25px;
}
@media only screen and (max-width: 1300px){
  .Catalogo{
      display: block;
      justify-content: left;
  }
  .img_carac{
      display: flex;
      justify-content: flex-start;
  }    
}


@media only screen and (max-width: 768px){
  .Catalogo{
      display: block;
      justify-content: center;
  }
  .img_carac{
      display: block;
      margin-top: 40px;
      justify-content: flex-start;
  }    
}

/*fin catalogo*/

/*boton con animacion*/
button {
  padding: 1rem 2.5rem;
  font-size: 12px !important;
  text-transform: uppercase !important;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 40px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.202);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
 
button:hover {
  background-color: #003770;
  box-shadow: 0px 15px 20px rgba(29, 89, 255, 0.112);
  color: #fff;
  transform: translateY(-7px);
}
 
button:active {
  transform: translateY(-1px);
}
/*fin*/

/*CSS Formulario*/

.boton_form{
  display: flex;
}

.checkbox_form{
  padding-left: 15%;
}

.cont_form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario{
  background-color: white;
  padding: 40px 20px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.formulario{
  width: 100%;
  margin: auto;
}
form .grupo{
  position: relative;
  margin: 45px;
}
.input_form{
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
}
.input_form:focus{
  outline: none;
  color: #5e5d5d; 
}

.label_form{
  color: black;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

.input_form:focus~.label_form,
.input_form:valid~.label_form{
  top: -14px;
  font-size: 12px;
  color: #0008ff;
}
.barra{
  position: relative;
  display: block;
  width: 100%;
}
.barra::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #ff4343, #4568DC);
  transition: 0.3s ease width;
  left: 0;
}
.input_form:focus~.barra::before{
  width: 100%;
}

@media screen and (max-width:500px){
  form{
      width: 80%;
  }
}

@media screen and (max-width:420px){
  form{
      width: 70%;
  }
}

.form-file__action input {
width: 0;
height: 0;
opacity: 0;
display: none;
}
.form-file__result {
cursor: pointer;
overflow: hidden;
position: relative;
width: 100%;
height: 250px;
background-color: #f2f0f0;
border-radius: 8px;
border: 1px dashed #609dd6;
transition: bacgroundColor 0.3s linear;
margin-bottom: 20px;
z-index: 2;
}
.form-file__result::after {
content: 'Haz click aqui o arrastra una imagen.';
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
height: 100%;
width: 100%;
color: #609dd6;
display: flex;
justify-content: center;
align-items: center;
}
.form-file__result img {
width: 100%;
height: 100%;
object-fit: cover;
z-index: 10;
}
.form-file__result--active {
background-color: rgba(82, 81, 79, 0.314);
}

/*Fin formulario*/

/*Buscador*/
.bus_dor{
  border-radius: 20px !important;
  width: 15rem;
  height: 40px;
  padding-left: 30px;
  border: none;
  margin-right: 15px;
  margin-left: 35px;
  margin-bottom: 10px;
}
.buscador_form{
  padding-top: 20px;
  justify-content: center;
}

#back{
  position: absolute;
  font-size: 40px;
  color: #003770;
}



/*fin buscador*/

/*filtros*/
.filtro{
  display: flex;
}
#btn_buscador{
  height: 40px;
  padding-bottom: 30px;
}

.form-select{
  width: 200px;
  margin-right: 25px;
  border-radius: 15px !important;
  height: 40px;
}
@media screen and (max-width:1000px){
  .filtro{
      display: grid;
      grid-template-columns: auto auto auto;
  }

}

@media screen and (max-width:812px){
  .filtro{
      display: block;
  }
  #btn_buscador{
      margin-top: 10px;
  }
  .form-select{
      margin-top: 10px;
  }

}


/*fin filtros*/
/*CRUD*/
#tabla_com{
  overflow-x: scroll;
}

.imagen_crud{
  height: 120px;
  width: 120px;
}
.img_col{
  width: 130px;
}
.crud_op{
  display: block;
}
.btn_crud{
  width: 150px;
}
.btn_eliminar {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 40px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
 
.btn_eliminar:hover {
  background-color: #ba0000;
  box-shadow: 0px 15px 20px rgba(255, 29, 40, 0.112);
  color: #fff;
  transform: translateY(-7px);
}
 
.btn_eliminar:active {
  transform: translateY(-1px);
}

.table-bordered{
  background-color: #f2f2f2;
  border-color: black;
}
thead{
  background-color: #003770 ;
  color: white;
  font-size: 15px;
}

.redir-form-crud{
  text-decoration: none;
  color: black;
  margin-top: 50px;
  margin-left: 6%;
  margin-bottom: 20px;

}

#crud_table{
  border: 1px solid black;
}

/*fin CRUD*/


/*form crud modal*/

.form_mod{
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px !important;
  font-size: 17px;
  
}
.btn_modal_edit{
  padding-left: 8%;
  margin-top: 15px;
}

.form_mod_input{
  width: 100%;
  padding: 10px;
  border-radius: 10px !important;
  margin-bottom: 16px;
  border: 0.5px solid;
  font-size: 18px;
}
.modal-dialog{
  color: black;
}
.modal-content{
  background-blend-mode: multiply;
  background-color: initial;
  background-image: url(../public/assets/imagenes/fondo_header.png),linear-gradient(154deg,rgb(255, 255, 255) 90%,#e30613 90%);
}



/*fin crud modal*/

/*respuesta*/
.resp_cont{
  display: grid;
  grid-template-columns: auto auto auto;
}
/*fin respuesta*/

#form_reserva{
  width: 50%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
