.form_usr{
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    padding: 3rem;
    width: 38rem;
    margin: 0px auto;

}
.btn_form_user{
    justify-content: center;
    padding-left: 8%;
    margin-top: 15px;
}
.form_usr .form_mod_input{
    width: 85%;
    border-radius: 10px !important;
    margin-bottom: 16px;
    border: 0.5px solid;
    font-size: 18px;
}

.form_usr .btn_modal_edit{
    text-align: center;
}
.inp_form_usr{
    margin-left: 15%;
    padding: 0;
}
.form_usr h2{
    text-align: center;
}
.form_usr .form-select{
    width: 80%;
}

.selec_mat_btn {
    padding: 1rem 2.5rem;
    font-size: 12px !important;
    text-transform: uppercase !important;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #f2f2f2;
    border: none;
    border-radius: 40px !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.202);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.selec_mat_btn:hover{
    background-color: #003770;
    box-shadow: 0px 15px 20px rgba(29, 89, 255, 0.112);
    color: #fff;
    transform: translateY(-7px);
}
   
.selec_mat_btn:active{
    transform: translateY(-1px);
}

.form_usr input:invalid{
    border-color: #1b010222;
}

.form_input_usr{
width: 80%;
padding: 10px;
border-radius: 10px !important;
margin-bottom: 16px;
font-size: 18px;
border: 1px solid rgba(53, 53, 53, 0.44);
display: inline-block;
outline: unset;
border-color: #003770;
}

.inp_form_usr label{
    font-size: 18px;
    
}

@media only screen and (max-width: 770px){
    .form_usr{
        width: 100%;
    }
    .btn_form_user{
        display: block;
        text-align: center;
    }
    .btn_form_user button{
        margin-top: 20px;
    }
}


.contanier-loading::after{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(0,0,0, .2);
    border-radius:10px;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.contanier-loading::before{
    display: block;
    position: absolute;
    content: '';
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    width: 80px;
    height: 80px;
    border: 10px solid #003770;
    border-left: 10px solid #e30613;
    border-radius: 50%;
    animation-name: snipper;
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    z-index:200;
    background-color: transparent;
}

@keyframes snipper {
    to{
        transform: rotate(360deg);
    }
}