#btn_login{
    justify-content: center;
}
#login_form_cont{
    justify-content: center;
    text-align: center;
}
#login_form_cont p{
    margin: 0;
}

#login_form_cont a{
    text-decoration: none;
    font-size: 13px;
}
