#form_res_amb{
    display: block;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
#reserva{
    margin-left: 20px;
}
#codAmb{
    width: 25em;
}
#motivoSol{
    width: 25em;
}
.form-check{
    align-items: center;
}
.form-check{
    font-size: 20px;
}
.boton_form{
    margin-top: 10px;
    justify-content: center;
}
.selec_per_btn {
    padding: 1rem 2.5rem;
    font-size: 12px !important;
    text-transform: uppercase !important;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #f2f2f2;
    border: none;
    border-radius: 40px !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.202);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.selec_per_btn:hover {
    background-color: #003770;
    box-shadow: 0px 15px 20px rgba(29, 89, 255, 0.112);
    color: #fff;
    transform: translateY(-7px);
  }
   
.selec_per_btn:active {
    transform: translateY(-1px);
  }
.form_input{
    width: 80%;
    padding: 10px;
    border-radius: 10px !important;
    margin-bottom: 16px;
    font-size: 18px;
    border: 1px solid rgba(53, 53, 53, 0.44);
    display: inline-block;
    outline: unset;
    border-color: #003770;
}
.form_input:invalid{
    border-color: #1b010222;
}
.cont_form_au{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_form{
    margin-left: 15%;
}
.formulario_au{
    background-color: white;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#formReservaAmbientes{
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 50px 0;
    border-radius: 25px;
    justify-content: center;
}

.div_form select{
    width: 80%;
    border-radius: 12px;
}

@media screen and (max-width:992px){
    #btn_res_amb{
        display: block;
        text-align: center;
    }
    #btn_res_amb button{
        margin-top: 20px;
    }
    #formReservaAmbientes{
        width: 100%;
    }
  }


  
.contanier-loading::after{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(0,0,0, .2);
    border-radius:10px;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.contanier-loading::before{
    display: block;
    position: absolute;
    content: '';
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    width: 80px;
    height: 80px;
    border: 10px solid #003770;
    border-left: 10px solid #e30613;
    border-radius: 50%;
    animation-name: snipper;
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    z-index:200;
    background-color: transparent;
}

@keyframes snipper {
    to{
        transform: rotate(360deg);
    }
}

.pn{
    display: none;
}

.div_form p{
    display: none;
}
.form_input:invalid{
    border-color: rgba(255, 0, 0, 0.856);
    display: block; 
}